.colores {
  background-color: #222222;
  opacity: .5;
  font-size: 5em;
  text-align: center;
  color: white;
}

.sensus aplicari{
  background-color: #808080;
  opacity: .5;
  font-size: 5em;
  text-align: center;
  color: red;
}
